@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Helvetica, Arial, "微軟正黑體", sans-serif;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

.newsBlock {
  float: left;
  width: 65%;
  margin-bottom: 10px;
}

.newsContent {
  background: #ebf0f6;
  font-size: 13px;
  padding: 10px 10px 20px 10px;
  border-radius: 7px;
  margin-right: 20px;
}

.newsContent h2 {
  background: #FFF;
}

.newsContent p {
  padding: 0px 10px 0px 10px;
  color: #545454;
  line-height: 20px;
}

.firstNews {
  background: url("../images/news_tit02-1.png") no-repeat left center;
  color: #ed2600;
  font-size: 13px;
  line-height: 40px;
  padding: 0px 10px 0px 35px;
}

.OtherNews {
  background: url("../images/news_tit02.png") no-repeat left center;
  color: #011f5c;
  font-size: 13px;
  line-height: 40px;
  padding: 0px 10px 0px 35px;
}

.videoBlock {
  float: left;
  width: 35%;
  margin-bottom: 10px;
}

.videoBlock video {
  margin-bottom: 10px;
}

.newVideo {
  background: #e6e6e6;
  border-radius: 7px;
  zoom: 1;
}

.newVideo:before {
  content: "";
  display: table;
}

.newVideo:after {
  content: "";
  display: table;
  clear: both;
}

.newVideo h3 {
  float: left;
  margin-right: 5px;
  color: #7b0909;
  line-height: 32px;
  margin-left: 10px;
  font-size: 14px;
}

.newVideo li {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  background: #65248c;
  padding: 6px 7px;
  margin-top: 4px;
}

.newVideo a {
  font-size: 10px;
  color: #fff;
  float: left;
}

.ebookHubBlock {
  float: left;
  width: 65%;
}

.ebookHubBlock ul {
  width: 80%;
  margin: 0 auto;
  zoom: 1;
}

.ebookHubBlock ul:before {
  content: "";
  display: table;
}

.ebookHubBlock ul:after {
  content: "";
  display: table;
  clear: both;
}

.ebookHubBlock li {
  float: left;
  margin-right: 12px;
  width: 92px;
  height: 118px;
}

.ebookHubBlock li img {
  height: 118px;
  border-radius: 4px;
  display: block;
  margin-bottom: 7px;
}

.ebookHubBlock li p {
  font-size: 10px;
}

.appDownload {
  float: left;
  width: 35%;
}
