
.wrap
	width: $disk_width
	margin: 0 auto

.newsBlock
	float: left
	width: 60%
	
.newsContent
	background: #ebf0f6
	font-size: 13px
	padding: 10px 10px 20px 10px
	border-radius: 7px
	margin-right: 20px
	h2
		background: #FFF
	p
		padding: 0px 10px 0px 10px
		color: #545454
		line-height: 20px

.firstNews
	background: url('../images/news_tit02-1.png') no-repeat left center
	color: #ed2600
	font-size: 13px
	line-height: 40px
	padding: 0px 10px 0px 35px

.OtherNews
	background: url('../images/news_tit02.png') no-repeat left center
	color: #011f5c
	font-size: 13px
	line-height: 40px
	padding: 0px 10px 0px 35px

.videoBlock
	float: left
	width: 40%