// img RWD reset
img
   max-width:100%;
   height: auto;
 
body
	font-family: Helvetica, Arial, "微軟正黑體", sans-serif
	background: #034883
.wrap
	width: $disk_width
	margin: 0 auto
	background: #fff
	padding: 5px
	@extend %clearfix

// 最新消息
.newsBlock
	float: left
	width: 65%
	margin-bottom: 10px
	@extend %clearfix

.newsContent
	background: #ebf0f6
	font-size: 13px
	padding: 10px 10px 20px 10px
	border-radius: 7px
	margin-right: 20px
	h2
		background: #FFF
		font-weight: bold
	p
		padding: 0px 10px 0px 10px
		color: #545454
		line-height: 1.8em

.firstNews
	background: url('../images/news_tit02-1.png') no-repeat left center
	color: #ed2600
	font-size: 13px
	line-height: 40px
	padding: 0px 10px 0px 35px

.OtherNews
	background: url('../images/news_tit02.png') no-repeat left center
	color: #011f5c
	font-size: 13px
	line-height: 40px
	padding: 0px 10px 0px 35px

// 影音專區
.videoBlock
	float: left
	width: 35%
	margin-bottom: 10px
	video
		margin-bottom: 10px
		width: 100%

.newVideo
	background: #e6e6e6
	border-radius: 7px
	width: 90%
	margin: 0 auto
	padding: 7px
	@extend %clearfix

	span
		float: left	
		margin: 0 5px	
		color: #7b0909
		font-size: 14px
		line-height: 24px
		@extend %clearfix
	ul
		@extend %clearfix
	li
		float: left
		margin-right: 10px	
		border-radius: 50%
		background: #65248c
		padding: 6px 7px
		&:nth-child(6)
			margin-right: 0px
	a
		font-size: 10px
		color: #fff
		float: left

// 好書推薦
.ebookHubBlock
	float: left
	width: 65%
	@extend %clearfix
	h2
		margin-bottom: 30px
	ul
		width: 80%
		margin: 0 auto
		@extend %clearfix

	li
		float: left
		margin-right: 12px
		width: 92px
		&:nth-child(5)
			margin-right: 0px
		img
			height: 118px
			border-radius: 4px
			display: block
			margin-bottom: 7px
		p
			font-size: 12px
			padding: 5px
// 下載免費 app
.appDownload
	float: left
	width: 35%


.appDownloadImg
	padding: 10%
	display: block
	img
		width: 100%

footer
	width: $disk_width
	margin: 0 auto
	p
		margin: 0 auto
		display: block
		text-align:center
		padding: 50px
		color: #c6c6c6
		&:hover
			color: #ffdd00
// RWD
@media (max-width: 1000px)
	.wrap
	    width: 96%
	    padding: 2%
	footer
		width: 96%
	    padding: 0 2%

	.newsBlock 
		float: none
		width: 100%

	.newsContent
		font-size: 16px
		margin: 0
		h3
			font-size: 20px
			margin-bottom: 5px
			width: 90%
			text-overflow : ellipsis
			overflow : hidden
			white-space: nowrap

	.videoBlock 
		float: none
		width: 100%
		margin-bottom: 20px
		video
			margin-bottom: 20px
	.newVideo
		span
			line-height: 44px
			font-size: 18px

		li
			padding: 12px 14px
			margin-right: 8%
		a
			font-size: 16px

	.ebookHubBlock
		float: none
		width: 100%
		margin-bottom: 20px
		ul
			width: 100%
		li
			width: 19%
			margin-right: 1%
			&:nth-child(5)
				margin-right: 0px
			img
				width: 100%
				height: auto
			p
				font-size: 18px

	.appDownload
		float: none
		width: 100%

@media (max-width: 768px)
	.ebookHubBlock
		li
			width: 24%
			margin-right: 1%
			&:nth-child(4)
				margin-right: 0px
			&:nth-child(5)
				display: none
	.newVideo
		li
			margin-right: 5%
			&:nth-child(5)
				margin-right: 0px
			&:nth-child(6)
				display: none		
		

@media (max-width: 480px)
	.ebookHubBlock
		li
			width: 32%
			margin-right: 2%
			&:nth-child(3)
				margin-right: 0px
			&:nth-child(4)
				display: none
			
	.newVideo
		li
			margin-right: 3%
			&:nth-child(5)
				display: none
			
